@rounded_corners: false;
@links: #ea621f;
@menu_links: #ffffff;
@menu: #667893;
@base: #EDEFF1;
@font: #333333;
@primary_button: #7cb345;
@secondary_button: #08298a;
@tertiary_button: #BDC3C7;
@sidebar: #fff;
@price: #343434;
@discount_label: #ff9900;
@in_stock: #2ECC71;
@out_of_stock: #a80006;
@top_panel_links: #1ABC9C;
@top_panel_text: #555555;
@footer_text: #A3AAAF;
@decorative: #e3e3e3;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #fcfcfc;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #fcfcfc;

@header_bg: #ffffff;
@header_bg_full: false;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: false;

@footer_bg: #f3f3f3;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #f3f3f3;

@body_font: Open Sans,sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Open Sans,sans-serif;
@headings_font_size: 20px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: bold;
@links_font: Open Sans,sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: Open Sans,sans-serif;
@price_font_size: 20px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: Open Sans,sans-serif;
@buttons_font_size: 14px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;






















































/*GFONTS*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0d.woff) format('woff');
}

/*/GFONTS*/