@import url('//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css');@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
.tygh-header > div {
    padding-top: 8px;
}
.i-store-phone-cntr .store-phone-icon {
    display: block;
    float: left;
    background: url('../../../../images/phone-on-circle.png') no-repeat left top;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.i-store-phone-cntr .store-phone-text a {
    font-size: 26px;
    color: #191877;
    font-weight: bold;
    display: block;
    float: left;
    padding-top: 6px;
}
.span4.i-working-hours-cntr {
    width: 180px;
    border-left: 1px solid #afafaf;
    margin-left: 0px;
    padding-left: 25px;
    margin-top: 5px;
}
.i-working-hours-cntr .ty-wysiwyg-content {
    font-size: 12px;
    line-height: 16px;
    color: #646568;
}
.i-working-hours-cntr .ty-wysiwyg-content b{
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #f23506;
}
.search-block-grid {
    margin-top: 10px;
}
.homepage-banners {
    margin-top: 6px;
}
.top-menu-grid {
    padding-top: 4px;
    background-color: #667893;
    margin-top: 8px;
}
.i-footer-title {
    color: #f23505;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
}
.footer-menu {
    border-bottom: 1px solid #929292;
    margin-top: 20px;
}
.my-footer-follow-us {
    margin-top: 20px;
}
.i-secure-items {
    float: left;
}
.payment-icon, .cc-icon span {
    display: inline-block;
    margin-left: 10px;
    width: 51px;
    height: 32px;
    background: url('../../../../images/payments.png') no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
}
.my-footer-follow-us .social-link {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 32px;
    height: 32px;
    background: url('../../../../images/social_icons_spride.png') no-repeat left top;
}
.my-footer-follow-us .i-follow-us-links {
    float: left;
    display: block;
    margin-left: 30px;
}
.social-link {
    display: inline-block;
    margin: 1px 0;
        margin-top: 1px;
    padding: 3px 0;
        padding-right: 0px;
        padding-bottom: 3px;
        padding-left: 0px;
}
.social-link {
    background-repeat: no-repeat;
    clear: right;
}
.span4.i-store-phone-cntr {
    margin-top: 16px;
}
.payment-icon, .cc-icon span {
    display: inline-block;
    margin-left: 10px;
    width: 51px;
    height: 32px;
    background: url('../../../../images/payments.png') no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
}
.my-footer-follow-us .social-link.twitter {
    background-position: 0px -39px;
}
.my-footer-follow-us .social-link.googleplus {
    background-position: 0px -119px;
}
.payment-icon.mastercard, .cc-icon .mastercard {
    background-position: 0px -100px;
}
.payment-icon.visa, .cc-icon .visa {
    background-position: -200px 0px;
}
.my-footer-follow-us .i-follow-us-links {
    float: left;
    display: block;
    margin-left: 30px;
}
.footer-menu p {
    padding: 0;
}
.i-working-hours-cntr p{
  padding:0;
}
.tygh-footer {
    min-height: 70px;
    background-color: #f3f3f3;
}
.container.footer-grid{
  width:1156px;
  padding: 0 10px;
  background-color:#f3f3f3;
}
/* centered menu*/@media screen and (min-width: 768px) {
.top-menu ul {
   display: table;
   margin: 0 auto;
}
.top-menu ul li .ty-menu__submenu ul {
	display:none;
	margin: 0 auto;
}
.top-menu ul li a:hover .ty-menu__submenu ul li a {
	display:block;
	margin: 0 auto;
}
.ty-menu__submenu{
	display:block;
	margin: 0 auto;
}}
.ty-account-info__title {
    padding: 0;
}
.search-block-grid{
   max-width:480px;
}.ty-grid-list__control {    width: 100%;    padding-top: 5px;    text-align: center;		padding-bottom: 20px;}.i-homepage-products .grid-list {    margin-top: 10px;}.ty-grid-list__item {    border: 1px solid #e7e7e7;    background: -webkit-linear-gradient(#ffffff,#fbfbfb);    background: -o-linear-gradient(#ffffff,#fbfbfb);    background: -moz-linear-gradient(#ffffff,#fbfbfb);    background: linear-gradient(#ffffff,#fbfbfb);}.ty-grid-list__item:hover {	background:none;}.i-homepage-products .cm-disable-empty-files.cm-ajax.cm-ajax-full-render.cm-ajax-status-middle.cm-processed-form {    padding: 0 12px;}.ty-grid-list__item-name {   min-height: 40px;}.ty-grid-list__price {    text-align: center;    margin-bottom: 10px;}/* mobile */@media screen and (max-width: 768px) {	.cart-content-grid .ty-minicart-title{	  font-size:0;	}	.top-cart-content {		margin: 3px 0px;	}	.top-logo-grid {		padding-top: 0px;	}	.ty-logo-container {    margin: 0;	}	.i-store-phone-cntr .ty-float-left {    float: none;	}	.i-header-account-links .ty-wysiwyg-content{		margin: 8px 0px;	}	.span4.i-store-phone-cntr {		margin-left: 20%;	}	.search-block-grid{		max-width:none;	}}