.invoice_receipt,.invoice_receipt:active{
font-size:14px;
padding: 10px 20px;
}
.invoice_receipt label{
	cursor: pointer; cursor: hand;
}
#invoice_receipt_question{
font-size:18px;
text-decoration:underline;
}

label.i-required:after {
content: "*";
padding-left: 3px;
color: #d64830;
font-size: 16px;
line-height: 1px;
}

.i-disable-field{background-color: #cccccc;}

#i-receipt-store-cntr{padding-bottom:10px;padding-top: 20px;padding-left: 20px;}
#i-receipt-store-cntr input {margin-left:5px;}
#i-receipt-store-cntr label{color:#333;font-size:16px;}
#i-receipt-store-tooltip{display:block;font-size:100%;padding-top:5px;color:#2d2e2e;}

.checkout-steps .form-field.last-name{width:100% !important;}
#i-copy-address-cntr {
	padding: 0 30px;
}