<div class="sidebar-row">
    <ul class="nav nav-list">
        <li><a href="{"xproducts.manage"|fn_url}">{__("xproducts")}</a></li>
        <li><a href="{"sproducts.manage"|fn_url}">{__("sproducts")}</a></li>
        <li><a href="{"iproducts.manage"|fn_url}">{__("iproducts")}</a></li>
        <li><a href="{"iproductspending.manage"|fn_url}">{__("iproductspending")}</a></li>
        <li><a href="{"icategories.manage"|fn_url}">{__("icategories")}</a></li>
        <li><a href="{"icategories.crosslinked"|fn_url}">{__("icategoriescrolllinked")}</a></li>
        <li><a href="{"xproducts.shit"|fn_url}">{__("xproductscrolllinked")}</a></li>
        <li><a href="{"xproducts.bad_rel"|fn_url}">Πιθανώς λάθος CS-X συσχέτιση</a></li>
    </ul>
</div>