<li class="divider"></li>
<li>{btn type="list" text=__('exclude_from_shopfeed') dispatch="dispatch[products.m_shopfeed_exclude]" form="manage_products_form"}</li>
<li>{btn type="list" text=__('include_from_shopfeed') dispatch="dispatch[products.m_shopfeed_include]" form="manage_products_form"}</li>
