<th><a class="cm-ajax{if $search.sort_by == "exclude_from_shopfeed"} sort-link-{$search.sort_order}{/if}" href="{"`$c_url`&amp;sort_by=exclude_from_shopfeed&amp;sort_order=`$search.sort_order`"|fn_url}" rev={$rev}>{__('exclude_from_shopfeed')}</a></th>