{capture name="mainbox"}

    <form action="{""|fn_url}" method="post" name="iproducts_form">

		<p>Total: {$shit_count}</p>
		
		{if $shit}
			<p>Shit</p>
			
			<p>CS product</p>
			<ul>
				<li>ProductId: {$shit.cproduct.product_id}</li>
				<li>Title: {$shit.cproduct.product}</li>
				<li>XproductId: {$shit.cproduct.xproduct_id}</li>
			</ul>
			<p>Xproducts</p>
			<ul>
			{foreach from=$shit.xproudcts item="xp"}
				<li><a href="{"xproducts.unshit?pid=`$shit.cproduct.product_id`&inxid=`$xp.id`"|fn_url}" class="cm-post">Connect this</a>   {$xp.id} - {$xp.title}</li>
			{/foreach}
			</ul>			
		{/if}
    </form>

{/capture}
{include file="common/mainbox.tpl" title=__("product_merger_shit") content=$smarty.capture.mainbox select_languages=true}
