#addon_seo_greeklish .addon-icon .bg-icon i,
#addon_seo_greeklishinstalled .addon-icon .bg-icon i{
    background-image: url("images/addons/seo_greeklish/weblive_addon.png");
	background-position: 50% 50%;
	width: 38px;
	height: 38px;
	margin: 0;
	line-height: 100%;
  	display: block;
}
