{** banners section **}
{capture name="mainbox"}
<form action="{""|fn_url}" method="post" name="banners_form" class=" cm-hide-inputs" enctype="multipart/form-data">
<input type="hidden" name="fake" value="1" />
{include file="common/pagination.tpl" save_current_page=true save_current_url=true div_id="pagination_contents_banners"}
{assign var="c_url" value=$config.current_url|fn_query_remove:"sort_by":"sort_order"}
{assign var="rev" value=$smarty.request.content_id|default:"pagination_contents_banners"}
{assign var="c_icon" value="<i class=\"icon-`$search.sort_order_rev`\"></i>"}
{assign var="c_dummy" value="<i class=\"icon-dummy\"></i>"}
{if $banners}
<table class="table table-middle">
<thead>
<tr>
<th width="1%" class="left">
{include file="common/check_items.tpl" class="cm-no-hide-input"}</th>
<th><a class="cm-ajax" href="{"`$c_url`&sort_by=name&sort_order=`$search.sort_order_rev`"|fn_url}" data-ca-target-id={$rev}>{__("banner")}{if $search.sort_by == "name"}{$c_icon nofilter}{else}{$c_dummy nofilter}{/if}</a></th>
<th><a class="cm-ajax" href="{"`$c_url`&sort_by=type&sort_order=`$search.sort_order_rev`"|fn_url}" data-ca-target-id={$rev}>{__("type")}{if $search.sort_by == "type"}{$c_icon nofilter}{else}{$c_dummy nofilter}{/if}</a></th>
{hook name="banners:manage_header"}
{/hook}
<th width="6%">&nbsp;</th>
<th width="10%" class="right"><a class="cm-ajax" href="{"`$c_url`&sort_by=status&sort_order=`$search.sort_order_rev`"|fn_url}" data-ca-target-id={$rev}>{__("status")}{if $search.sort_by == "status"}{$c_icon nofilter}{else}{$c_dummy nofilter}{/if}</a></th>
</tr>
</thead>
{foreach from=$banners item=banner}
<tr class="cm-row-status-{$banner.status|lower}">
{assign var="allow_save" value=$banner|fn_allow_save_object:"banners"}
{if $allow_save}
{assign var="no_hide_input" value="cm-no-hide-input"}
{else}
{assign var="no_hide_input" value=""}
{/if}
<td class="left">
<input type="checkbox" name="banner_ids[]" value="{$banner.banner_id}" class="cm-item {$no_hide_input}" /></td>
<td class="{$no_hide_input}">
<a class="row-status" href="{"banners.update?banner_id=`$banner.banner_id`"|fn_url}">{$banner.banner}</a>
{include file="views/companies/components/company_name.tpl" object=$banner}
</td>
<td class="nowrap row-status {$no_hide_input}">{if $banner.type|in_array:['abyt','abyt_advanced']}{__("abt__yt.banners.types.{$banner.type}")}{else}{if $banner.type == "G"}{__("graphic_banner")}{else}{__("text_banner")}{/if}{/if}</td>
{hook name="banners:manage_data"}
{/hook}
<td>
{capture name="tools_list"}
<li>{btn type="list" text=__("edit") href="banners.update?banner_id=`$banner.banner_id`"}</li>
{if $allow_save}
<li>{btn type="list" class="cm-confirm" text=__("delete") href="banners.delete?banner_id=`$banner.banner_id`" method="POST"}</li>
{/if}
{/capture}
<div class="hidden-tools">
{dropdown content=$smarty.capture.tools_list}
</div>
</td>
<td class="right">
{include file="common/select_popup.tpl" id=$banner.banner_id status=$banner.status hidden=true object_id_name="banner_id" table="banners" popup_additional_class="`$no_hide_input` dropleft"}
</td>
</tr>
{/foreach}
</table>
{else}
<p class="no-items">{__("no_data")}</p>
{/if}
{include file="common/pagination.tpl" div_id="pagination_contents_banners"}
{capture name="buttons"}
{capture name="tools_list"}
{if $banners}
<li>{btn type="delete_selected" dispatch="dispatch[banners.m_delete]" form="banners_form"}</li>
{/if}
{/capture}
{dropdown content=$smarty.capture.tools_list}
{/capture}
{capture name="adv_buttons"}
{include file="common/tools.tpl" tool_href="banners.add" prefix="top" hide_tools="true" title=__("add_banner") icon="icon-plus"}
{/capture}
</form>
{/capture}
{capture name="sidebar"}
{hook name="banners:manage_sidebar"}
{include file="common/saved_search.tpl" dispatch="banners.manage" view_type="banners"}
{include file="addons/banners/views/banners/components/banners_search_form.tpl" dispatch="banners.manage"}
{/hook}
{/capture}
{include file="common/mainbox.tpl" title=__("banners") content=$smarty.capture.mainbox buttons=$smarty.capture.buttons adv_buttons=$smarty.capture.adv_buttons select_languages=true sidebar=$smarty.capture.sidebar}
{** ad section **}