{** block-description:tmpl_payment_icons **}
<div class="ty-payment-icons">
    {hook name="index:payment_icons"}
    {*
	<span class="ty-payment-icons__item twocheckout">&nbsp;</span>
    <span class="ty-payment-icons__item paypal">&nbsp;</span> 
	*}
    <span class="ty-payment-icons__item mastercard">&nbsp;</span>
    <span class="ty-payment-icons__item visa">&nbsp;</span>
    {/hook}
</div>
