// Product detail
.ypi-product-block__img {
  .ab__vg-image_gallery_video {
    img {
      width: 100%;
      height: auto;
    }
  }
  iframe.ab__vg-image_gallery_video {
    width: 100%;
    position: relative;
    z-index: 2;
  }
}
.ab__vg-image_gallery_video {
  cursor: pointer;
  &:before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('images/abt__youpitheme/youtube_logo.png') no-repeat center;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    .opacity(95);

  }
  &:hover:before {
    .opacity(100);
    .transition(opacity 100ms linear);
  }
}

// Product tabs
.ab__video_gallery-block {
  margin: 0 -5px;
}
.ab__vg-video {
  width: 33.333333%;
  padding: 10px 5px;
  display: inline-block;
  float: left;
}
.ab__vg-video_thumb {
  display: inline-block;
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('images/abt__youpitheme/youtube_logo.png') no-repeat center;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    .opacity(95);
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
  }
  &:hover {
    &:before {
      .opacity(100);
    }
    &:after {
      background: rgba(0, 0, 0, 0.02);
      -webkit-transition: background .3s;
      transition: background .3s;
    }
  }
}
.ab__vg-video_title p {
  font-size: 14px;
  padding: 10px 0 0;
}
.ab__vg-video_description p {
  color: @light-color-30;
}
.ab__vg-image_gallery_item {
  float:left;
  display:flex;
  align-items:center;
  margin:0 5px 5px 0;
  border:1px solid @base;
}
.ab__vg_loading img {
  width:100%;
}

@media screen and (max-width: 1280px) {
  .ab__vg-video {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .ab__vg-video {
    width: 100%;
  }
}