// OpenSans
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=greek,greek-ext,latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext,vietnamese');

/* Font */
@ypi-heading-font: 'Open Sans', sans-serif;
@ypi-main-font: 'Open Sans', sans-serif;
@ypi-light-font: 'Open Sans', sans-serif;
@ypi-medium-font: 'Open Sans', sans-serif;