// Full round styles

.ty-btn, .ypi-cart-user-wrap .ypi-search input.ty-search-block__input,
.grid-list .ty-grid-list__control.show-list-buttons .ty-qty-out-of-stock,
.ty-tabs .ty-tabs__item .ty-tabs__a, .ty-tabs .subtab a, .vendor_communication-btn a,
.ty-variations-list__product-elem .ty-qty-out-of-stock {
    .border-radius(@height-i-el/2);
}
.ty-btn__primary,
.ty-btn__secondary,
.ty-btn__tertiary,
.vendor_communication-btn a {
    border-bottom: 0 none !important;
}
.ty-product-detail .ypi-product-block__left .span8 + .span8 .ty-btn__add-to-cart,
.ypi-categories_grid .ty-subcategories__item a > span {
    .border-radius(28px);
}
.grid-list .ypi-brand {
    .border-radius(8px 0 0 8px);
}
.ty-pagination__selected {
    .border-radius(@height-i-el/2);
}
.m-label, .ab_dotd_product_label,
.ty-value-changer__increase, .ty-value-changer__decrease {
    .border-radius(8px) !important;
}
.owl-theme .owl-controls .owl-buttons div {
    .border-radius(100%);
}

// Addons support

.ab__qobp_content input.ab__qobp_phone {
    .border-radius(@height-i-el/2);
}