// GRID 1200px

.grid-list {
	
	// 	Columns
	.col-tile {
		width: 25%;
		display: inline-block;
		float: left;
		&.bnw-x2 {
			width: 50%;
		}
	}
	
	// Responsive Columns

	@media screen and (max-width: 1024px) {
		.col-tile {
		  width: 33.33333%;
			&.bnw-x2 {
				width: 33.32666%;
			}
		}
	}
	@media screen and (max-width: 767px) {
	  .col-tile {
		  width: 50%;
            &.bnw-x1 {
                width: 50%;
            } 
            &.bnw-x2 {
                width: 100%;
            }
		}
	}
	@media screen and (max-width: 320px) {
	    .col-tile {
            width: 100% !important;
            &.bnw-x1, &.bnw-x2 {
                width: 100% !important;
            }
        }		
	}
}

.span12 .grid-list {
	
	// 	Columns
	.col-tile {
		width: 33.33333%;
		&.bnw-x2 {
			width: 33.32666%;
		}
	}
	
	// Responsive Columns
	@media screen and (max-width: 1024px) {
	  .col-tile {
		  width: 50%;
		  &.bnw-x1, &.bnw-x2 {
				width: 50%;
			}
		}
	}
}

// Responsive submenu-items

.top-menu-grid .top-menu > .ty-menu__items {
	
	.ty-top-mine__submenu-col {
	  width: -webkit-calc(~'100%/5 - 14px');
	  width: calc(~'100%/5 - 14px');	
	}
	& > .ty-menu__item > .ty-menu__submenu {
		.ty-menu__submenu-items {
			padding: 40px 0;
		}
	}
	@media screen and (max-width: 1024px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/4 - 14px');
		  width: calc(~'100%/4 - 14px');	
		}
	}
	@media screen and (max-width: 900px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/3 - 14px');
		  width: calc(~'100%/3 - 14px');	
		}
	}
}
@media screen and (max-width: 320px) {
	.header-grid .top-menu-grid-vetrtical .ty-dropdown-box__title {
	    min-width: 150px;
	    padding: 0 10px 0 55px;
	    a:before {
		    margin-left: -37px;
	    }
	}
}

// Product templates

.ty-product-detail {
    .ypi-product-block__left {
        .xcalc(340px);
        padding-right: 20px;
    }
    .ypi-product-block__right {
        width: 340px;
    }
    
    // Fixed form
    &.fixed-form {
        .sticky-block {
            width: 340px;
            min-height: 270px;
            padding: 15px 15px 70px;
            
            .product-block-title-rt {
                padding: 10px 15px 5px 13px;
            }
			select {
			    min-width: 160px !important;
			    max-width: 160px !important;
			}
            
            @media screen and (min-width: 1367px) {
                .ypi-list-bt-block {
                    display: none;
                }
            }
        }

    }
}

// Deal of the day
.ab-list-promotions-scroller, .ab__dotd_promotions {
	.ab__dotd_promotions-item {
		min-height: 272px;
	}
	.ab__dotd_promotions-item_image .ty-no-image {
		max-height: 177px;
	}
	@media screen and (max-width: 1366px) {
		.ab__dotd_promotions-item {
		    min-height: 273px;
		}
	}
}

.ab__dotd_promotions {
	.ab__dotd_promotions-item {
		width: -webkit-calc(~'25% - 8px');
	    width: calc(~'25% - 8px');
	}
	@media screen and (max-width: 1280px) {
		.ab__dotd_promotions-item {
			width: -webkit-calc(~'33.333333% - 8px');
		    width: calc(~'33.333333% - 8px');
		    min-height: 302px;
		}
		.ab__dotd_promotions-item_image .ty-no-image {
			max-height: 205px;
		}
	}
	@media screen and (max-width: 1024px) {
		.ab__dotd_promotions-item {
			min-height: 290px;
		}
		.ab__dotd_promotions-item_image .ty-no-image {
			max-height: 194px;
		}  
	}
	@media screen and (max-width: 900px) {
		.ab__dotd_promotions-item {
			width: -webkit-calc(~'50% - 8px');
		    width: calc(~'50% - 8px');
			min-height: 320px;
		}
	}
	@media screen and (max-width: 640px) {
		.ab__dotd_promotions-item {
			width: -webkit-calc(~'100% - 8px');
		    width: calc(~'100% - 8px');
			min-height: inherit;
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width: 1680px) and (min-width: 1366px) {
	.container-fluid > .container-fluid-row.container-fluid-row-no-limit .ab__deal_of_the_day {
		padding-right: 0;
		padding-left: 0;
	}
}