// GRID 1500px

.grid-list {
	
	// 	Columns
	.col-tile {
		width: 16.6666%;
		display: inline-block;
		float: left;
		&.bnw-x2 {
			width: 33.32666%;
		}
	}
	// Responsive Columns
	@media screen and (max-width: 1680px) {
		.col-tile {
			width: 20%;
			&.bnw-x2 {
				width: 39.9333%;
			}
		}
	}
	@media screen and (max-width: 1365px) {
		.col-tile {
			width: 25%;
			&.bnw-x2 {
				width: 50%;
			}
		}
	}
	@media screen and (max-width: 1024px) {
		.col-tile {
		  width: 33.33333%;
			&.bnw-x2 {
				width: 33.32666%;
			}
		}
	}
	@media screen and (max-width: 767px) {
	  .col-tile {
		  width: 50%;
            &.bnw-x1 {
                width: 50%;
            } 
            &.bnw-x2 {
                width: 100%;
            }
		}
	}
	@media screen and (max-width: 320px) {
	    .col-tile {
            width: 100% !important;
            &.bnw-x1, &.bnw-x2 {
                width: 100% !important;
            }
        }		
	}
}

.span12 .grid-list {
	
	// 	Columns
	.col-tile {
		width: 25%;
		&.bnw-x2 {
			width: 50%;
		}
	}
	// Responsive Columns
	@media screen and (max-width: 1660px) {
		.col-tile {
			width: 25%;
			&.bnw-x2 {
				width: 50%;
			}
		}
	}
	@media screen and (max-width: 1365px) {
		.col-tile {
		  width: 33.33333%;
			&.bnw-x2 {
				width: 33.32666%;
			}
		}
	}
	@media screen and (max-width: 1023px) {
	  .col-tile {
		  width: 50%;
		  &.bnw-x1, &.bnw-x2 {
				width: 50%;
			}
		}
	}
}

// Responsive submenu-items

.top-menu-grid .top-menu > .ty-menu__items {
	
	.ty-top-mine__submenu-col {
	  width: -webkit-calc(~'100%/6 - 14px');
	  width: calc(~'100%/6 - 14px');	
	}
	& > .ty-menu__item > .ty-menu__submenu {
		.ty-menu__submenu-items {
			padding: 40px 0;
		}
	}
	@media screen and (max-width: 1280px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/5 - 14px');
		  width: calc(~'100%/5 - 14px');	
		}
	}
	@media screen and (max-width: 1024px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/4 - 14px');
		  width: calc(~'100%/4 - 14px');	
		}
	}
	@media screen and (max-width: 900px) {
		.ty-top-mine__submenu-col {
		  width: -webkit-calc(~'100%/3 - 14px');
		  width: calc(~'100%/3 - 14px');	
		}
	}
}

// Product templates

.ty-product-detail {
    @media screen and (min-width: 1600px) {
	    
        .sticky-block .ypi-product-block__left .span8 + .span8 {
			.xcalc(580px);
		}
		.ypi-product-block__left {
	        .xcalc(380px);
	        padding-right: 20px;
	        .ty-product-block__img-wrapper {
		        max-width: 580px;
				width: 580px;
			}
        }
    }
    @media screen and (min-width: 1680px) {
        // Col
        .pday-wrap {
            .col {
                width: 270px;
                float: left;
                padding-right: 20px;
            }
            .col + .col {
                .xcalc(270px);
                padding-right: 0;
            }
        }	    
    }
    .ypi-product-block__left {
        .xcalc(380px);
        padding-right: 20px;
    }
    .ypi-product-block__right {
        width: 380px;
    }
        
    // Fixed form
    &.fixed-form {
        .sticky-block {
            width: 380px;
            min-height: 270px;
        }
    }
}

// Deal of the day
.ab-list-promotions-scroller, .ab__dotd_promotions {
	.ab__dotd_promotions-item {
		min-height: 318px;
	}
	.ab__dotd_promotions-item_image .ty-no-image {
		max-height: inherit;
	}
	@media screen and (max-width: 1600px) {
		.ab__dotd_promotions-item {
			min-height: 294px;
		}
		.ab__dotd_promotions-item_image .ty-no-image {
			max-height: 198px;
		}
	}
	@media screen and (max-width: 1366px) {
		.ab__dotd_promotions-item {
		    min-height: 273px;
		}
	}
}

.ab__dotd_promotions {
	.ab__dotd_promotions-item {
		width: -webkit-calc(~'25% - 8px');
	    width: calc(~'25% - 8px');
	}
	@media screen and (max-width: 1280px) {
		.ab__dotd_promotions-item {
			width: -webkit-calc(~'33.333333% - 8px');
		    width: calc(~'33.333333% - 8px');
		    min-height: 315px;
		}
	}
	@media screen and (max-width: 1024px) {
		.ab__dotd_promotions-item {
			min-height: 290px;
		}   
	}
	@media screen and (max-width: 900px) {
		.ab__dotd_promotions-item {
			width: -webkit-calc(~'50% - 8px');
		    width: calc(~'50% - 8px');
			min-height: 320px;
		}
	}
	@media screen and (max-width: 640px) {
		.ab__dotd_promotions-item {
			width: -webkit-calc(~'100% - 8px');
		    width: calc(~'100% - 8px');
			min-height: inherit;
			margin-bottom: 10px;
		}
	}
}