/* ICONS */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../../media/custom_fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../../../media/custom_fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('../../../media/custom_fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../../../media/custom_fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons-css() {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons {
	.material-icons-css();
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

// Star 
.ty-icon-star, .ty-icon-star-empty, .ty-icon-star-half {
	.material-icons-css();
	font-size: 16px;
	margin-right: -3px;
}
.ty-icon-star:before {
	content: "\E838";
}
.ty-icon-star-empty:before {
	content: "\E83A";
}
.ty-icon-star-half:before {
    content: "\E839";
}

// Social
@font-face {
  font-family: "Social";
  src: url("../../../media/custom_fonts/Social.eot");
  src: url("../../../media/custom_fonts/Social.eot?#iefix") format("embedded-opentype"),
       url("../../../media/custom_fonts/Social.woff") format("woff"),
       url("../../../media/custom_fonts/Social.ttf") format("truetype"),
       url("../../../media/custom_fonts/Social.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Social";
    src: url("../../../media/custom_fonts/Social.svg#Flaticon") format("svg");
  }
}

.s-icon {
    font-family: "Social";
    font-weight: normal;
    font-style: normal;
}

.ypi-telegram:before {content: "\e900";}
.ypi-instagram:before {content: "\e901";}
.ypi-whatsapp:before {content: "\e90c";}
.ypi-ok:before {content: "\f101";}
.ypi-facebook:before {content: "\f103";}
.ypi-pinterest:before {content: "\f107";}
.ypi-viber:before {content: "\e90d";}
.ypi-youtube:before {content: "\f105";}
.ypi-behance:before {content: "\e902";}
.ypi-linkedin:before {content: "\e903";}
.ypi-flickr:before {content: "\e904";}
.ypi-twitter:before {content: "\f102";}
.ypi-hangouts:before {content: "\e905";}
.ypi-skype:before {content: "\f104";}
.ypi-vk:before {content: "\f100";}
.ypi-telegram-circle:before {content: "\e906";}
.ypi-google-plus-circle:before {content: "\e907";}
.ypi-myspace-circle:before {content: "\e908";}
.ypi-spotify-circle:before {content: "\e909";}
.ypi-yuoutube-new:before {content: "\e90a";}
.ypi-amazon:before {content: "\e90b";}
