/* Youpi MIXIN */

.xcalc(@_xwidth) when (isnumber(@_xwidth)) {
  width: -webkit-calc(~'100% -'@_xwidth);
  width: calc(~'100% -'@_xwidth);	
}
.ycalc(@_yheight) when (isnumber(@_yheight)) {
  height: -webkit-calc(~'100% -'@_yheight);
  height: calc(~'100% -'@_yheight);	
}
.y-gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.pop-up-box() {
	position: absolute;
	z-index: 300;
	min-width: 250px;
	max-width: 400px;
	min-height: 100px;
	padding: 15px 20px;
	white-space: normal;
	text-align: left;
	background-color: @font;
	background-clip: padding-box;
	
	&:before {
		content: "";
		position: absolute;
		display: block;
		left: 50%;
		top: -22px;
		margin-left: -11px;
		border-color: transparent;
		border-style: solid;
		border-top-width: 0;
		border-bottom-color: @font;
		border-width: 11px;
	}
	.closer {
	    position: absolute;
	    right: 10px;
	    top: 10px;
	    color: rgba(255,255,255,0.7);
	    &:hover {
		    color: white;
	    }
	}
}
.y-btn() {
	position: relative;
	display: inline-block;
	width: auto;
	height: @height-i-el;
	line-height: @height-i-el;
	font-size: 12px;
	font-weight: bold;
	margin: 2px 0;
	padding: 0px 20px;
	border: 0;
	overflow: hidden;
	outline: 0;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: -.01em;
	.border-radius(3px);
}
.top-panel-wrap-buttons() {
    display: table-cell;
    width: 50px;
    height: 48px;
    padding: 0;
    vertical-align: middle;
    text-align: right;
    border: 0 none;
    line-height: 100%;
}