// Not round styles

input[type="text"],
input[type="password"],
.ty-btn,
.ypi-white-vfbt, .ypi-white-cfbt,
.abyt_banner,
.white-bg,
.ypi-cr-phone .material-icons,
.ypi-cart-user-wrap .ypi-search input.ty-search-block__input,
.grid-list .ty-grid-list__item form,
.grid-list .ty-grid-list__item,
.ui-corner-all,
.grid-list .ypi-brand,
.ty-pagination,
.ty-horizontal-product-filters,
.ty-horizontal-product-filters-dropdown__wrapper,
.ty-sort-dropdown .ty-sort-dropdown__wrapper,
.ty-pagination__item, .ty-pagination__selected,
.ty-tabs .ty-tabs__item .ty-tabs__a, .ty-tabs .subtab a,
.ypi-product-block__note,
.ty-value-changer__increase, .ty-value-changer__decrease,
.owl-theme .owl-controls .owl-buttons div,
.ty-discussion-post,
.grid-list .ty-grid-list__control.show-list-buttons .ty-qty-out-of-stock,
.ypi-categories_grid .ty-subcategories__item a > span,
.qty_discounts_popup, .pop-up-box,
.vendor_communication-btn a,
.ty-variations-list__product-elem .ty-qty-out-of-stock {
	.border-radius(0) !important;
}

.ty-btn__primary, .ty-btn__secondary, .ty-btn__tertiary {
	border-bottom: 0px none !important;
}

// Addons support

.ab__qobp_content input.ab__qobp_phone {
	.border-radius(0);
}