// Forms and input ellements

@height-i-el: 44px; // line height buttons
@light-color-30: lighten(@font, 30%);
@light-color-40: lighten(@font, 40%);
@light-color-65: lighten(@font, 65%);

input[type="text"], input[type="password"] {
    height: 36px;
}

@media screen and (max-width: 1024px) {
    .hidden-tablet { display: none !important; }
}
@media screen and (max-width: 767px) {
    .hidden-phone  { display: none !important; }
}

.touch input.ty-value-changer__input,
input.ty-value-changer__input {
    width: 32px;
    height: 24px;
    font-size: 14px;
    padding: 4px;
    float: none;
    border: 0 none;
    .border-radius(0);
    &:hover, &:focus {
        border: 1px solid darken(@ddmcolor, 5%);
        width: 30px;
        margin: 0 1px;
    }
}
.ty-value-changer, .touch .ty-value-changer {
    width: 64px;
    margin: 5px 10px 5px 0;
}
.touch .ty-value-changer__increase,
.touch .ty-value-changer__decrease,
.ty-value-changer__increase,
.ty-value-changer__decrease {
    height: 16px;
    width: 16px;
    line-height: 14px;
    margin: 5px 0;
    font-size: 16px;
    color: darken(@ddmcolor, 5%);
    background: #FFF;
    border: 1px solid darken(@ddmcolor, 5%);
    float: right;
    &:hover {
        color: #fff;
        background: @links !important;
        border-color: @links;
    }
}
.ty-value-changer__increase {
    .border-radius(2px);
}
.ty-value-changer__decrease {
    .border-radius(2px);
    float: left !important;
}
.cm-hint {
    color: @light-color-40;
}

// Titles
h1, h2 {
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    font-family: @ypi-heading-font;
    margin-top: 15px;
}
.ty-subheader {
    color: @font;
    font-weight: 700;
    font-family: @ypi-heading-font;
}
.ty-mainbox-title {
    font-weight: 700;
}

// Advanced titles
.y-mainbox-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    font-family: @ypi-heading-font;
    margin: 10px 0;
}
.ty-footer-menu__header, .ty-footer-general__header {
    font-size: 16px;
}
.ty-mainbox-container > .y-mainbox-title {
    padding-right: 62px;
}
.ab__deal_of_the_day .action-title {
    font-weight: 700;
}

// Tabs
.tabs-center {
    .ty-tabs {
        text-align: center;
        margin: 0 auto;
        width: fit-content;
    }
    .ty-tabs__list {
        .clearfix();
    }
}

// wysiwyg
.ty-wysiwyg-content {
    h1 {
        font-size: 28px;
        letter-spacing: -0.01em;
        font-weight: 700;
    }
    h2 {
        font-size: 23px;
        letter-spacing: -0.01em;
        font-weight: 700;
    }
    h3, h4 {
        font-size: 18px;
        letter-spacing: -0.01em;
        font-weight: 700;
    }
    ul {
        padding-left: 30px;
    }
}
@media screen and (max-width: 978px) {
    .ty-wysiwyg-content {
        table, td, tr {
            width: 100%;
            display: inline-block;
            .box-sizing(border-box);
        }
    }
}
@media screen and (max-width: 480px) {
    .ty-wysiwyg-content {
        iframe {
            min-height: 195px;
            height: inherit;
        }
    }
}

// Buttons
@primary-bt-color: @menu_links;
@secondary-bt-color: white;
@tertiary-bt-color: @font;

.ty-btn {
    .y-btn();
}
.ty-btn__primary {
    color: @primary-bt-color;
    border-bottom: 2px solid darken(@primary_button, 10%);
    background: @primary_button;
    &:hover {
        background: lighten(@primary_button, 5%);
        border-color: darken(@primary_button, 7%);
        color: @primary-bt-color;
    }
}
.ty-btn__secondary {
    color: @secondary-bt-color;
    border-bottom: 2px solid darken(@secondary_button, 10%);
    background: @secondary_button;
    &:hover {
        background: lighten(@secondary_button, 5%);
        border-color: darken(@secondary_button, 7%);
        color: @secondary-bt-color;
    }
}
.ty-btn__tertiary {
    color: @tertiary-bt-color;
    border-bottom: 2px solid darken(@tertiary_button, 10%);
    background: @tertiary_button;
    &:hover {
        background: lighten(@tertiary_button, 3%) !important;
        border-color: darken(@tertiary_button, 5%);
        color: @tertiary-bt-color;
    }
}
.ty-btn__text {
    color: darken(@tertiary_button, 10%);
    border: 2px solid darken(@tertiary_button, 10%);
    line-height: 40px;
    &:hover {
        color: @primary_button;
		border: 2px solid @primary_button;
        padding: 0px 20px;
    }
}
.ty-btn__add-to-cart {
    padding-left: 24px;
    &:before {
        content: "\E8CC";
        .material-icons-css();
        position: relative;
        font-size: 20px;
        top: 5px;
        right: 4px;
    }
}
.ajax-link {
    color: @links;
    border-bottom: 1px dotted lighten(@links, 40%);
}

// More buttons
.ty-btn-go {
    height: 34px;
}
.ty-btn-go__icon {
	top: 7px;
}
.more-btn {
    font-size: 16px;
    color: @links !important;
    margin: 5px 0;
    line-height: 120%;
    span {
        border-bottom: 1px dotted lighten(@links, 40%);
    }
    i {
        position: relative;
        top: 5px;
    }
}
.ypi-more-btn, .ty-btn.ty-product-filters__reset-button {
    font-size: 11px;
    height: 36px;
    padding: 0 15px;
    line-height: 31px;
    background: white;
    border: 2px solid @light-color-65;
    color: @font;
    i {
        top: 5px;
        margin-right: -5px;
    }
    &:hover, &.active {
        border-color: @links;
        color: @links;
    }
    &.open {
        i {
            .rotate(180deg);
        }
    }
}

// Blocks
.b-top {
    border-top: 1px solid @ddmcolor;
}
.b-top-bold {
    border-top: 3px solid @ddmcolor;
}
.b-top-color {
    border-top: 1px solid @discount_label;
}
.b-top-bold-color {
    border-top: 3px solid @discount_label;
}
.b-bottom {
    border-bottom: 1px solid @ddmcolor;
}
.b-bottom-bold {
    border-bottom: 3px solid @ddmcolor;
}
.b-bottom-color {
    border-bottom: 1px solid @discount_label;
}
.b-bottom-bold-color {
    border-bottom: 3px solid @discount_label;
}
.b-all {
    border: 1px solid @ddmcolor;
}
.b-all-bold {
    border: 3px solid @ddmcolor;
}
.b-all-color {
    border: 1px solid @discount_label;
}
.b-all-bold-color {
    border: 3px solid @discount_label;
}
.pd-top {
    padding: 40px 0 0;
}
.pd-bottom {
    padding: 0 0 40px;
}
.pd-all {
    padding: 40px 0;
}
.pd-all-big {
    padding: 50px 0;
}
.pd-top, .pd-bottom, .pd-all, .pd-all-big {
    .ty-wysiwyg-content h1, .ty-wysiwyg-content h2, .ty-wysiwyg-content h3 {
        margin-top: 0;
    }
}
// Color blocks
.dark-block {
    background: rgba(0, 0, 0, 0.05);
    .grid-list .ty-grid-list__item {
        .box-shadow(0 0 0 1px darken(@ddmcolor, 3%));
    }
}
.light-block {
    background: white;
}
.color-block {
    background: @menu;
    .y-mainbox-title {
        color: white;
    }
}

// Disable color schemas
.bt_color() when (@abt__yt_general_variant_buttons_color = true) {
    .ty-btn__primary {
        background: darken(@ddmcolor, 45%);
        border-bottom: 2px solid darken(@ddmcolor, 55%);
        &:hover {
            background: darken(@ddmcolor, 40%);
            border-color: darken(@ddmcolor, 45%);
        }
    }
    .ty-btn__tertiary {
        background: lighten(@ddmcolor, 7%);
    }
    .ty-product-block .ty-product-block__button .ty-btn__add-to-cart {
        background: @discount_label;
    }
    .color-block {
        background: darken(@ddmcolor, 45%);
    }
    .dark-block {
        background: @ddmcolor;
    }
    .ty-product-infoblock-dropdown {
        background: lighten(@ddmcolor, 10%);
    }
}
.bt_color();