/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2017   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and  accept   *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
.ab__mcd_descs {
overflow: hidden;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
.ab__mcd_descs-section {
.ab__mcd_descs-section-title {
width: 100%;
padding: 6px 10px;
display: inline-block;
border-bottom: 1px solid #EDEFF1;
background: #EDEFF1;
transition: all linear 0.15s;
color: #6b6b6b;
font-size: 110%;
&.active, &:hover {
background: #DADCDE;
text-decoration: none;
}
&:not(.active){
cursor: pointer;
}
}
.ab__mcd_descs-section-content {
padding: 15px;
display: none;
background: #fff;
}
&:last-child .accordion-section-title {
border-bottom: none;
}
}
}