.product_installments_table {

}

.product_installments_table th {
    padding: 2px;
    margin: 4px;
    border-bottom: 1px solid black;
	text-align: left;
}

.product_installments_table td {
    margin-bottom: 4px;
    paddind: 2px;
}


.checkout-installments-table {
	margin-bottom: 30px;
	width: 100%;
	margin-left: 20px;
}

.checkout-installments-table td {
	padding: 4px;
	text-align: right;
}