#hw_subscribe_popup{
	position: fixed;
	bottom : -400px;
	right : 40px;
	border:1px solid #bfbfbf;
	background: #fff;
	z-index: 500
}

#hw_subscribe_popup .hw_subscribe_popup_inner{
	padding: 30px 50px;
	width: 300px;
	position: relative;
}

#hw_subscribe_popup .hw_subscribe_popup_powered{
	padding-bottom: 29px;	
}

#hw_subscribe_popup .hw_subscribe_popup_inner h3{
	text-align: center;
	margin: 0;
	font-size: 170%
}

#hw_subscribe_popup .hw_subscribe_popup_inner form > div{
	margin:0;
	width: 100%
}

#hw_subscribe_popup .hw_subscribe_popup_inner p{
	text-align: center;
	margin-bottom: 10px;
}

#hw_subscribe_popup .hw_subscribe_popup_inner form p.hw-powered{
	text-align: center;
	margin-bottom: 0px;
	padding-top: 20px;
}

#hw_subscribe_popup .hw_subscribe_popup_inner form p.hw-powered,
#hw_subscribe_popup .hw_subscribe_popup_inner form p.hw-powered a{
	font-size: 9px; 
	color: #999;	
}

#hw_subscribe_popup .hw_subscribe_popup_inner form p.hw-powered a{
	text-decoration: none;
}

#hw_subscribe_popup .hw_subscribe_popup_close{
	width: 18px;
	height: 18px;
	background: url('images/addons/hw_subscribe_popup/close.png') no-repeat;
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 15px
}

@media screen and (max-width: 767px) {
#hw_subscribe_popup{
	
		display: none !important;
	
	}
	}