html[dir="rtl"] {
    .ui-widget-content.ui-dialog {
        left: inherit;
    }
    .ty-icon-right-circle:before {
        content: "\e00e";
    }
    .ty-icon-left-circle:before {
        content: "\e00f";
    }
    .ty-horizontal-filters-content-to-right {
        right: auto;
        left: 0;
    }
    .ty-horizontal-product-filters-dropdown a .ty-icon-cancel-circle {
        padding-right: 5px;
    }
    .ty-cart-items__list-item-desc p span {
        float: left;
    }
    .ty-pagination__text-arrow:before {
        content: "→";
    }
    .ty-pagination__next .ty-pagination__text-arrow:before {
        content: "←";
    }
    .ty-icon-right-dir:before {
        content: "\e003";
    }

    .ty-pagination__right-arrow .ty-pagination__text-arrow:before {
        content: "←";
    }

    .ty-price-slider {

        &__inputs {
            display: flex;
            flex-direction: row-reverse;
            align-items: baseline;
            justify-content: flex-end;
            padding: 0;
        }
        
        &__bidi-container {
            display: inline-block;
            vertical-align: middle;
        }

        &__input-text {
            float: left;
        }

        &__filter-prefix {
            display: inline-block;
            margin: 0px 5px;
            padding: 18px 0px;
            vertical-align: middle;
        }
    }

    @media (max-width: 767px) {
        .ty-icon-right-circle:before {
            content: "\e00f";
        }
        .ty-icon-left-circle:before {
            content: "\e00e";
        }
    }
    
    .ty-order-info__profile-field-item {
        &.b-phone,
        &.s-phone {
            direction: rtl;
        }
    }

    .ty-control-group.ty-profile-field__item {
        &.ty-billing-phone input,
        &.ty-billing-address-line2 input,
        &.ty-shipping-phone input,
        &.ty-shipping-address-line2 input {
            direction: rtl !important;
            text-align: left !important;
        }
    }

    [name="payment_info[customer_phone]"] {
        direction: rtl !important;
        text-align: left !important;
    }
    
    .ty-inputmask-bdi {
        direction: rtl !important;
        text-align: left !important;
    }

    @media (max-width: 480px) {
        .ui-datepicker {
            left: 0 !important;
            right: 0 !important;
        }
    }
    
    /** Fix old-owlcarousel non-adaptive for RTL **/
	.owl-wrapper-outer {
        direction: rtl !important;
        .owl-item {
	        direction: ltr !important;
        }
    }
    
    .jcarousel-skin .owl-wrapper-outer,
    .ty-scroller-discussion-list .owl-wrapper-outer {
	    direction: ltr !important;
    }

    .owl-controls > .owl-buttons {
        direction: rtl;
        
        .owl-prev {
            float: right;
        }
        .owl-next {
            float: left;
        }
    }
    .banners.owl-carousel.owl-theme .owl-controls .owl-buttons,
    .ypi-buy-together.owl-carousel.owl-theme .owl-controls .owl-buttons {
        .owl-prev {
            right: 0;
            left: auto;
            &:after {
	            margin-left: 3px;
            }
            i {
	            margin-right: -3px;
	            margin-left: 0;
            }
        }
        .owl-next {
            left: 0;
            right: 0;
        }	    
    }
     

    .ty-thumbs-wrapper {
        .ty-icon-left-circle {
            right: 3px;
            left: auto;
            left: unset;

            &::before {
                content: "\e00e";
            }
        }
        .ty-icon-right-circle {
            left: 3px;
            right: auto;
            right: unset;

            &::before {
                content: "\e00f";
            }
        }
    }
    /** /Fix old-owlcarousel non-adaptive for RTL **/
    
    // Youpi RTL
    
    bdi {
		direction: ltr;
	}
	
	.ypi-cr-phone {
		direction: rtl;
		float: left;
		a + a {
			float: right;
			margin: 2px;
		}
	}
	.ypi-cr-link {
		margin-top: 40px;
	}
	.n-phone {
		direction: rtl;
		float: left
	}
	.ypi-cr-link .visible-phone {
		float: left;
	}
	
	.m-label, .ab_dotd_product_label, .ty-value-changer__increase, .ty-value-changer__decrease {
		.border-radius(8px);
	}
	
	// Menu
	.top-menu-grid-vetrtical .icon-right-dir {
		.rotate(180deg);
	}
	@media screen and (min-width: 768px) {
		.top-menu-grid-vetrtical .ypi-menu__inbox .ty-menu__submenu-items.tree-level-dropdown .ypi-mwi-html {
			right: 0;
			left: auto;
		    border-right: 0 !important;
		    padding: 0;
		    display: inline-block;
		    width: 100%;
		    max-width: 970px !important;
		    overflow: hidden;
		}
	}

	// Promotion
	.ab__dotd_promotions .ab__dotd_promotions-item_date,
	.ab-list-promotions-scroller .ab__dotd_promotions-item_date {
		direction: ltr;
	}
	
	// Default product
	.ty-product-detail {
		.pib-title {
			i.material-icons {
				top: 10px;
				left: -2px;
				float: left;
			}
			em {
			    padding-left: 25px;	
			}
		}
		.fixed-form.view .sticky-block {
			direction: ltr;
		}
	}
	.ypi-buy-together h3.ty-subheader {
	    float: left;
	    padding-left: 2px;
	}  
}