/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2017   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and  accept   *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
/* ---- Color initialization (place edit) ---- */
/* block background color */
@pd_block_color: lighten(@base, 3%);
/* block fonts color */
@pd_block_fonts_color: @font;
/* item background color */
@pd_item_color: #fff;
/* price color */
@pd_item_price: @discount_label;
/* bordered blocks */
@bordered_blocks: true;
/* rounded_corners */
@rounded_corners_blocks: false;
/* Styles Block */
.ab__deal_of_the_day {
padding: 20px 10px;
background: @pd_block_color;
.box-sizing(border-box);
overflow: hidden;
.flip-clock-wrapper {
margin-bottom: 0;
}
.pd-block {
padding: 0 10px;
float: left;
width: 300px;
display: inline-block;
.box-sizing(border-box);
}
.pd-content-block {
width: calc(~'100% - 300px');
display: inline-block;
}
.action-title {
font-size: 200%;
line-height: 120%;
margin-bottom: 14px;
font-family: @headings_font;
color: @discount_label;
text-transform: uppercase;
}
.promotion-descr {
margin-bottom: 10px;
p {
color: lighten(@font, 30%);
padding: 0;
}
}
a.more {
padding: 5px 0 5px 0;
display: inline-block;
}
.time-left {
margin-bottom: 10px;
color: @pd_block_fonts_color;
}
.ty-scroller-pd {
width: 100%;
}
.ty-scroller-list__item {
text-align: center;
padding: 0;
}
.ty-pd-list__item {
margin: 0 10px;
padding: 10px 10px 20px 10px;
background: @pd_item_color;
&:hover {
background: lighten(@pd_item_color, 2%);
}
}
.ty-pd-list__image {
background: #fff;
margin-bottom: 10px;
position: relative;
}
.ty-pd-list__item-name {
max-width: 100%;
width: 100%;
margin: 0;
.product-title {
color: @pd_block_fonts_color;
font-size: 16px;
line-height: 110%;
height: 34px;
display: inline-block;
overflow: hidden;
width: 90%;
&:hover {
text-decoration: underline;
}
}
}
.grid-list__rating {
height: 22px;
}
.ty-stars {
margin: 0;
}
.ty-stars__icon {
float: left;
}
.ty-pd-list__price {
margin: 5px 0 10px 0;
max-width: 100%;
float: none;
display: inline-block;
.pd-price-item {
padding: 0 5px 0 10px;
border-right: 1px solid darken(@base, 5%);
text-align: left;
float: left;
display: inline-block;
.box-sizing(border-box);
> span {
display: inline-block;
vertical-align: top;
}
.ty-price {
color: @pd_item_price;
}
.ty-price-num {
font-size: 18px;
}
.ty-list-price {
font-weight: bold;
color: @font;
font-size: 15px;
}
.ty-strike, .ty-strike .ty-list-price {
font-weight: normal;
color: #999;
font-size: 14px;
}
* {
line-height: 100%;
}
span.y_save {
font-size: 12px;
color: #8d8c8c;
padding: 2px 0 5px;
font-weight: normal;
display: block;
}
&:last-child {
margin-right: 0;
border: 0;
}
}
}
.ty-btn__primary {
min-width: 50%;
}
.ty-cr-product-button {
display: none !important;
}
.ty-quick-view-button {
padding-top: 0;
visibility: visible;
text-align: center;
display: inline-block;
float: left;
min-width: 50%;
.ty-btn {
width: 95%;
float: left;
.box-sizing(border-box);
}
}
/* Controls */
& > .pd-content-block > .owl-carousel.owl-theme > .owl-controls {
& > .owl-buttons {
div {
font-size: 0;
margin: 0;
padding: 0;
position: absolute;
top: 50%;
margin-top: -25px;
background: @pd_block_color;
.border-radius(0);
}
.owl-prev {
left: 0;
filter: alpha(opacity=100);
opacity: 1;
&:after {
content: "\e01a";
font-family: 'glyphs';
display: inline-block;
height: 40px;
width: 20px;
line-height: 40px;
font-size: 30px;
margin-left: -10px;
color: lighten(@font, 35%);
border: 0;
}
&:hover:after {
color: @font;
}
}
.owl-next {
right: 0;
filter: alpha(opacity=100);
opacity: 1;
&:before {
content: "\e01b";
font-family: 'glyphs';
display: inline-block;
height: 40px;
width: 20px;
line-height: 40px;
font-size: 30px;
margin-right: -10px;
color: lighten(@font, 35%);
border: 0;
}
&:hover:before {
color: @font;
}
}
}
}
}
.ty-bordered_blocks() when (@bordered_blocks = true) {
.ab__deal_of_the_day {
border: 1px solid @base;
.ty-pd-list__item {
border: 1px solid @base;
}
}
}
.ty-bordered_blocks();
.ty-rounded_corners_blocks() when (@rounded_corners_blocks = true) {
.ab__deal_of_the_day {
.border-radius(6px);
.ty-pd-list__item {
.border-radius(6px);
}
}
}
.ty-rounded_corners_blocks();
.actions-link {
margin: 10px 0;
display: inline-block;
width: 100%;
a {
color: @pd_item_price;
}
i.ty-icon-help-circle {
color: lighten(@font, 30%);
}
.also-in-promos-link {
color: @pd_item_price;
border-bottom: 1px dotted;
}
}
/* List promotions */
.ab__dotd_promotions, .ab-list-promotions-scroller {
padding: 0 0 20px 0;
margin: 0 -5px;
.ab__dotd_promotions-item {
display: inline-block;
width: 285px;
min-height: 275px;
margin: 0 20px;
float: left;
margin: 0 5px 10px;
border: 1px solid @base;
background: #fff;
&:hover {
border: 1px solid darken(@base, 7%);
-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}
}
.ab__dotd_promotions-item_image {
margin-bottom: 10px;
overflow: hidden;
max-height: 182px;
.ty-no-image {
border: 0 none;
}
}
.ab__dotd_promotions-item_title {
position: relative;
padding: 5px 0;
height: 46px;
overflow: hidden;
line-height: 120%;
a {
font-size: 13px;
line-height: 120%;
}
&:before {
content: '';
display: block;
position: absolute;
bottom: 0;
right: 0;
left: 0;
height: 20px;
background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #fff));
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
}
.ab__dotd_promotions-item_days_left {
display: inline-block;
float: left;
text-align: center;
padding: 5px;
margin: 0 10px 10px;
max-width: 68px;
background: @base;
border: 1px solid @base;
color: #999;
font-size: 11px;
.box-sizing(border-box);
span {
display: block;
padding-top: 3px;
font-size: 32px;
line-height: 90%;
font-weight: bold;
color: @font;
}
}
.ab__dotd_promotions-item_date {
font-size: 12px;
color: #999;
padding: 0 10px;
}
.ab__dotd_highlight {
background: #ffe1e1;
border: 1px solid #ffe1e1;
color: #F44336;
font-weight: bold;
span {
color: #F44336;
}
}
}
/* block list promotions scroller */
.ab-list-promotions-scroller {
background: @base;
padding: 10px 5px 0;
box-sizing: border-box;
.ab__dotd_promotions-item {
width: -webkit-calc(~'100% - 12px');
width: calc(~'100% - 12px');
min-height: 269px;
border: 0 none;
&:hover {
border: 0 none;
}
}
.ab__dotd_promotions-item_image {
margin: 0 0 10px 0;
display: block;
text-align: center;
.ty-no-image {
max-height: 175px;
}
}
@media screen and (max-width: 1152px) {
.ab__dotd_promotions-item_image {
max-width: 100%;
max-height: 162px;
}
.ab__dotd_promotions-item {
min-height: 242px;
}
}
@media screen and (max-width: 1024px) {
.ab__dotd_promotions-item_image {
max-height: 142px;
}
}
@media screen and (max-width: 768px) {
.ab__dotd_promotions-item {
min-height: 293px;
}
.ab__dotd_promotions-item_image {
max-height: inherit;
img {
width: 100% !important;
}
span.ty-no-image {
width: 100% !important;
height: 213px !important;
max-height: inherit;
}
}
}
@media screen and (max-width: 480px) {
margin: 0;
.ab__dotd_promotions-item {
width: 100%;
margin: 0;
}
}
}
.all-promotions__button {
position: absolute;
right: 70px;
top: 0;
a {
font-size: 16px;
padding: 5px;
display: inline-block;
color: @base;
&:hover {
color: #fff;
}
}
@media screen and (max-width: 580px) {
display: none;
}
}
/* Product tabs - all promotions */
.ty-tabs__content .ab__dotd_promotions {
padding: 15px 0 0;
}
/* Detail action page */
.ab__dotd_promotion {
padding: 40px 0;
.ab__dotd_promotion-image {
padding: 5px;
border: 1px solid @base;
}
.ab__dotd_promotion-description {
display: inline-block;
width: 100%;
font-size: 14px;
color: lighten(@font, 30%);
* {
font-size: 14px;
color: lighten(@font, 30%);
}
}
.ab__dotd_promotion-timer {
padding-top: 10px;
}
.ab__dotd_promotion-timer_title {
font-weight: bold;
}
.ab__dotd_promotions-item_date {
p {
color: #999;
padding: 0;
}
}
.flip-clock-wrapper {
margin-bottom: 10px;
}
}
/* Product detail */
.ty-product-block {
.ab__deal_of_the_day {
padding: 10px;
margin-bottom: 10px;
border: 1px solid lighten(@discount_label, 35%);
background: lighten(@discount_label, 45%) !important;
width: auto !important;
.action-title {
font-size: 14px;
margin-bottom: 5px;
}
.promotion-descr {
line-height: 120%;
margin-bottom: 10px;
}
.actions-link {
margin-bottom: 0;
a {
color: lighten(@font, 30%);
}
}
a.also-in-promos-link {
color: @pd_item_price;
margin-right: 10px;
}
.col1,
.col2 {
width: 100%;
margin-left: 0;
}
.flip-clock-wrapper {
margin: 5px 0 0;
}
/* mini clock */
@media screen and (max-width: 1224px) {
.flip-clock-wrapper {
padding-top: 10px;
ul {
width: 22px;
height: 36px;
font-size: 22px;
line-height: 36px;
li {
line-height: 36px;
a div {
font-size: 22px;
div.inn {
font-size: 22px;
}
}
}
}
}
.flip-clock-divider {
height: 38px;
.flip-clock-label {
font-size: 9px;
right: -35px;
}
&.minutes .flip-clock-label,
&.seconds .flip-clock-label {
right: -40px;
}
.flip-clock-dot {
&.top {
top: 20px;
}
&.bottom {
bottom: 20px;
}
}
}
}
/* end clock */
}
}
/* Product bigpicture */
.ty-product-bigpicture {
.ab__deal_of_the_day {
margin: 10px 0 20px;
padding: 20px;
background: lighten(@discount_label, 45%) !important;
border: 0;
text-align: left;
.action-title {
font-size: 16px;
display: block;
margin-bottom: 5px;
}
.promotion-descr {
display: block;
}
.flip-clock-wrapper {
margin-bottom: 10px;
}
.col1 {
width: 50%;
display: inline-block;
float: left;
padding-right: 20px;
.box-sizing(border-box);
}
.col2 {
display: inline-block;
width: 49%;
margin-left: 1%;
}
/* mini clock */
@media screen and (max-width: 1024px) {
.flip-clock-wrapper {
padding-top: 10px;
ul {
width: 22px;
height: 36px;
font-size: 22px;
line-height: 36px;
li {
line-height: 36px;
a div {
font-size: 22px;
div.inn {
font-size: 22px;
}
}
}
}
}
.flip-clock-divider {
height: 38px;
.flip-clock-label {
font-size: 9px;
right: -35px;
}
&.minutes .flip-clock-label,
&.seconds .flip-clock-label {
right: -40px;
}
.flip-clock-dot {
&.top {
top: 20px;
}
&.bottom {
bottom: 20px;
}
}
}
}
/* end clock */
@media screen and (max-width: 820px) {
.col1, .col2 {
width: 100%;
margin: 0;
padding-right: 0;
}
}
@media screen and (max-width: 480px) {
margin-bottom: 0;
text-align: center;
.flip-clock-wrapper {
display: inline-block;
width: auto;
}
.ty-float-right {
float: none;
}
}
}
.actions-link {
margin: 0;
a {
color: lighten(@font, 30%);
}
}
a.also-in-promos-link {
color: @pd_item_price;
margin-right: 10px;
}
@media screen and (max-width: 1224px) {
.ab__deal_of_the_day {
.action-title {
display: block;
float: none;
width: 100%;
margin-right: 0;
}
}
.span16 > .ab__deal_of_the_day {
margin: 0 -20px;
}
.span8 > .ab__deal_of_the_day {
margin: 0 -20px 10px -20px;
}
}
}
/* Category label */
.ab_dotd_product_label {
height: 28px;
font-size: 14px;
white-space: nowrap;
line-height: 28px;
padding: 0 10px 0 12px;
color: #fff;
background: @pd_item_price;
position: absolute;
z-index: 2;
}
/* Hide promotion description */
.ab__dotd_more {
cursor: pointer;
color: @links;
border-bottom: 1px dotted lighten(@links, 25%);
line-height: 17px;
font-size: 16px;
display: inline-block;
margin-right: 20px;
position: relative;
z-index: 100;
&:hover {
opacity: 0.9;
filter: alpha(opacity=90);
}
}
.ab__dotd_more {
i {
font-size: 17px;
}
}
.ab__dotd_more:after {
content: "\e01d";
font-family: 'glyphs';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
color: @links;
font-size: 20px;
position: absolute;
right: -14px;
top: 1px;
cursor: default;
}
.ab__dotd_more.inverse:after {
content: "\e01e";
}
.ab__dotd_description {
position: relative;
}
.ab__dotd_description:before {
content: '';
display: block;
position: absolute;
bottom: 0;
right: 0;
left: 0;
height: 50px;
background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #fff));
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.ab__dotd_description.inverse:before {
height: 20px;
background: none;
}
.ab__dotd_promotions-filter {
display: block;
padding: 30px 0 0;
}
.ab__dotd_promotions-filter_item {
color: lighten(@font, 20%);
cursor: pointer;
font-size: 14px;
display: inline-block;
margin: 0 2px 10px 0;
padding: 10px;
border: 1px solid @base;
&:hover {
color: @font;
border: 1px solid darken(@base, 10%);
}
&.active {
color: @links;
border: 1px solid @links;
}
}
.grid-elements-rounded() when (@rounded_corners = true) {
.ab__dotd_promotions-filter_item {
.border-radius(3px);
}
}