// ========================================================= ##Custom params
@abt__yt_general_main_color: #ffffff;
@abt__yt_general_not_main_color: true;
@abt__yt_general_variant_buttons_color: false;
@main_color: @abt__yt_general_main_color;
@abt__yt_general_color_stars_rating: #00bbb3;
@abt__yt_general_show_grid_border: margin_border;
@abt__yt_general_show_rounds: show_full_rounds;
@yt_color_subtitle: #4CAF50;

// ======================================================= ##Variables

@rounded_corners: true;
@links: #16a9b9;
@menu_links: #ffffff;
@menu: #00bbb3;
@base: #eeeeee;
@font: #363636;
@primary_button: #2b88c6;
@secondary_button: #363636;
@tertiary_button: #eeeeee;
@sidebar: #ffffff;
@price: #363636;
@discount_label: #ef45a3;
@in_stock: #00bbb3;
@out_of_stock: #999999;
@top_panel_links: #999999;
@top_panel_text: #999999;
@footer_text: #363636;
@decorative: #ef45a3;

@general_bg_color: #FFFFFF;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #FFFFFF;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #FFFFFF;

@header_bg: #FFFFFF;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #FFFFFF;

@content_bg: #FFFFFF;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #FFFFFF;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #FFFFFF;

@body_font: 'Open Sans',sans-serif;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: 'GothamProBold',sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: 'Open Sans',sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: 'GothamProBold',sans-serif;
@price_font_size: 23px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: 'Open Sans',sans-serif;
@buttons_font_size: 13px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;

// Only this style
@active-menu-link: @font;

// Gradiental colors
@gcolor1: #ef45a3;
@gcolor2: #00bbb3;
@gcolor3: #2b88c6;

.top-menu-grid .ty-menu__item-active a.ty-menu__item-link,
.top-menu-grid .ty-menu__item-active .ty-menu__item-link,
.top-menu-grid-vetrtical .ty-menu__item-active a.ty-menu__item-link,
.top-menu-grid-vetrtical .ty-menu__item-active .ty-menu__item-link {
    background: rgba(0,0,0,0.15);
}

// Disable color schemas
.disable_main_color() when (@abt__yt_general_not_main_color = true) {
    .top-menu-grid, .top-menu-grid-vetrtical, .color-block {
        background: -moz-linear-gradient(135deg,@gcolor2 30%,@gcolor3 100%);
        background: -webkit-linear-gradient(135deg,@gcolor2 30%,@gcolor3 100%);
        background: linear-gradient(135deg,@gcolor2 30%,@gcolor3 100%);
    }
    .ty-discount-label {
        background: -moz-linear-gradient(135deg,@gcolor1 30%,@gcolor2 100%);
        background: -webkit-linear-gradient(135deg,@gcolor1 30%,@gcolor2 100%);
        background: linear-gradient(135deg,@gcolor1 30%,@gcolor2 100%);
    }
    .ab_dotd_product_label {
        background: @gcolor2;
    }
    .ty-product-block .ab__deal_of_the_day, .ty-product-detail.fixed-form .sticky-block {
        background: white;
        border: 3px solid transparent;
        -moz-border-image: -moz-linear-gradient(top right,@gcolor1 0%,@gcolor2 100%);
        -webkit-border-image: -webkit-linear-gradient(top right,@gcolor1 0%,@gcolor2 100%);
        border-image: linear-gradient(to bottom right,@gcolor1 0%,@gcolor2 100%);
        border-image-slice: 1;
    }
}
.disable_main_color();

.disable_bt_color() when (@abt__yt_general_variant_buttons_color = false) {
    .ty-btn__primary {
        background: -webkit-linear-gradient(135deg,@gcolor2 30%,@gcolor3 100%);
        background: linear-gradient(135deg,@gcolor2 30%,@gcolor3 100%);
    }
}
.disable_bt_color();
