.ty-cr-work .days {

    color: #ffffff;

}
.ty-cr-work .hours {

font-size: 16px;

line-height: 16px;

font-weight: bold;

color: #ffffff;

}
.grid-list .ty-grid-list__item .ty-grid-list__item-name {
margin: -10px 0 5px;
}
.ty-price-update {
    font-size: 12px;
}
.grid-list .ty-grid-list__price {
    text-align: left;
}
.grid-list .ty-grid-list__price .ty-price-update {
    padding-left: 0px;
}
.ty-logo-container .ty-logo-container__image {    max-height: 120px;}
.ty-footer-general__body .ty-wysiwyg-content ul{
   list-style-type:none !important;
   padding: 0 !important;
}
.stock-block .ty-control-group__item {
    padding: 0 0 6px;
}
@media screen and (max-width: 767px) {

	/* .ty-search-block{ margin-top:-16px;} */

	.ty-logo-container .ty-logo-container__image {    max-height: 85px;}	
	
	.ypi-cart-user-wrap {    padding: 0;    position: absolute;    margin-top: 0;    left: 0;}	
		
	#product_tab_6 {    display: none;}	
	
	.grid-list .ty-grid-list__price {   text-align: left !important;}
	.grid-list .ty-grid-list__item .ty-grid-list__item-name {margin: -10px 0 5px;}
}
.grid-list .ty-control-group__label {
    color: #000;
    font-weight: bold;
}
.ty-product-detail .ypi-product-block__left .span8 + .span8 .ty-control-group__label {
    color: #000;
    font-weight: bold;
    font-size: 13px;
}