#slx_cookie_law {
    display: block;
    position: relative;
    z-index: 9001;
}
.slx_cookie_law_container {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.slx_cookie_law_container {
    overflow: hidden;
    padding: 10px 15px;
    position: fixed;
    right: 0;
}
.slx_cookie_law_container {
    animation: 0.5s ease 0s normal both 1 running fadeInBottom;
}
.slx_cookie_law_container {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
}
.slx_cookie_law_container {
    padding-bottom: 10px;
}
.slx_cookie_law_container {
    bottom: 20px;
    left: 20px;
    padding-bottom: 10px;
    right: initial;
    width: 300px;
}
.slx_cookie_law_container .slx_coockie_law-icon {
    display: block;
}
.slx_cookie_law_container .slx_coockie_law-icon {
    color: #000000;
    font-size: 40px;
}

.slx_cookie_law_container .slx_cookie_law_message {
    color: #999;
}
.slx_cookie_law_container .slx_cookie_law_message {
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
.slx_cookie_law_container .slx_cookie_law_button_wrapper {
    margin-bottom: 10px;
    margin-top: 15px;
	text-align:center;	
}
.slx_cookie_law_container .slx_cookie_law_button {
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1em;
	color:#000000;

}
.slx-icon-cookie{
	text-align:center;	
}
.slx_cookie_law_container .cc_logo:hover, .slx_cookie_law_container .cc_logo:active {
    opacity: 1;
}
.fa-info-circle::before {
   color: #000000;
   font: 1.8em/1 FontAwesome;
}